#cloud-config
users:
  - name: ${deployer_user}
    groups: [sudo]
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - ${trimspace(deployer_public_key)}

package_update: false
package_upgrade: false
